@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  --background: #f2f2f2;
  --white: #fff;
  --gray__head__color: #4f4f4f;
  --gray__paragraph_color: #828282;
  --blue__color: #2f80ed;
  --black__two: #333333;
  --black__one: #000000;
  --back__progress: #c4c4c4;

  --border-radius: 12px;

  --font-Montserrat: 'Montserrat', sans-serif;
}

/* Code for material icons */

.material-icons.md-18 {
  font-size: 18px;
  color: var(--gray__head__color);
  padding-right: 14px;
}

body {
  background-color: var(--background);
}

/* Personal details section */

.personal__details {
  background-color: var(--white);
  margin: 70px 10% 42px 10%;
  display: flex;
  border-radius: var(--border-radius);
}

.profile__picture {
  width: 25%;
}

.profile__details {
  width: 75%;
}

@media screen and (max-width: 900px) {
  .profile__picture {
    width: 30%;
  }

  .profile__details {
    width: 70%;
  }
}

@media screen and (max-width: 850px) {
  .personal__details {
    margin: 10% 5% 43px 5%;
  }
}

@media screen and (max-width: 750px) {
  .personal__details {
    margin: 10% 1% 43px 1%;
  }
}

.profile__picture img {
  padding: 22px 0 41px 15px;
  width: 100%;
  border-radius: var(--border-radius);
}

.names__contatcs {
  display: flex;
  padding: 22px 15px 41px 15px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.user__name {
  padding-right: 8px;
}

.user__name h2 {
  font-family: var(--font-Montserrat);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--gray__head__color);
  padding-bottom: 6px;
}

.user__name h4 {
  font-family: var(--font-Montserrat);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--gray__paragraph_color);
}

.user__contacts h4 {
  font-family: var(--font-Montserrat);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--gray__head__color);
  padding-bottom: 6px;
  white-space: nowrap;
}

.profile__description {
  padding: 0 15px 85px 15px;
}

.profile__description p {
  font-family: var(--font-Montserrat);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

/* Media below 640 */
@media screen and (max-width: 640px) {
  .personal__details {
    margin: 10% 4% 30px 4%;
    display: block;
  }

  .profile__picture {
    width: 100%;
  }

  .profile__details {
    width: 100%;
  }

  .profile__picture img {
    padding: 22px 15px 15px 15px;
    width: 100%;
    border-radius: var(--border-radius);
  }

  .names__contatcs {
    display: block;
    padding: 0 15px 41px 15px;
  }

  .user__name h2 {
    padding: 0 0 8px 0;
  }

  .user__name h4 {
    padding-bottom: 31px;
  }

  .user__contacts h4 {
    padding-bottom: 10px;
  }

  .profile__description {
    padding: 0 15px 22px 15px;
  }
}

/* Centre section */

.centre__container {
  margin-left: 10%;
  margin-right: 10%;
}

.left__container {
  width: 35%;
  background-color: var(--white);
  border-radius: var(--border-radius);
}

.skill__set {
  margin-bottom: 10px;
}

.skill__set h3 {
  font-family: var(--font-Montserrat);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--gray__head__color);
  padding: 23px 0 17px 5%;
}

.language {
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.titles {
  width: 40%;
  margin-bottom: 20px;
}

.prog {
  width: 60%;
  padding-right: 5%;
}

.language h4 {
  font-family: var(--font-Montserrat);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray__head__color);
  text-transform: capitalize;
}

.react__back {
  width: 100%;
  background-color: var(--back__progress);
  border-radius: 12px;
  height: 10px;
  margin-bottom: 20px;
}

.progress {
  background-color: var(--blue__color);
  height: 10px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.html {
  width: 95%;
}

.css {
  width: 95%;
}

.javascript {
  width: 90%;
}

.react__lib {
  width: 83%;
}

.express {
  width: 80%;
}

.node {
  width: 75%;
}

.mongodb {
  width: 83%;
}
